---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CollectionList from "../../layouts/CollectionList.astro";
import Card from "../../components/Card.astro";

let notes = await getCollection("notes");
if (notes && notes.length > 0) {
  notes = notes.sort(function (first, second) {
    return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
  });
}
---

<Layout title="All notes">
  <CollectionList title="Notes" description="Notes on anything">
    <section class="mt-4 flex flex-col gap-4">
      {
        notes.map((note) => (
          <Card
            title={note.data.title}
            description={note.data.description}
            publishedAt={note.data.publishedAt}
            slug={`/notes/${note.slug}`}
          />
        ))
      }
    </section>
  </CollectionList>
</Layout>