---
import Layout from "../layouts/Layout.astro"

---
<Layout title="Thomas Mol">
<main class="mx-auto max-w-2xl px-4 py-12 prose">
  <h1>building</h1>
  <p>
    Currently working on <a href="https://audiogest.app" target="_blank"
      >Audiogest</a
    >, <a href="https://spectropic.ai" target="_blank">Spectropic</a> and <a
      href="https://pyannote.ai"
      target="_blank">pyannoteAI</a
    >
  </p>
  <p>
    DM me on <a href="https://x.com/thomas_mol" target="_blank">&#120143;</a> or
    <a href="https://www.linkedin.com/in/thomas-mol" target="_blank">LinkedIn</a
    > 
    </p>
  </main>
</Layout>
