---
interface Props {
  title: string;
  publishedAt: Date;
  description: string;
  slug: string;
}

const { title, publishedAt, description, slug } = Astro.props;
---

<a
  class="group w-full flex cursor-pointer flex-col gap-2 transition-all duration-300 border p-4 border-neutral-400 hover:shadow-lg"
  href={`/projects/${slug}`}>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center">
    <h3 class="font-medium">{title}</h3>
    <p class="text-xs text-neutral-700">
      {
        (new Date(publishedAt)).toLocaleDateString("en-GB", {
          day: "2-digit",
          month: "short",
          year: "numeric",
        })
      }
    </p>
  </div>

  <p class="truncate text-neutral-700 text-sm">
    {description}
  </p>
</a>
