---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CollectionList from "../../layouts/CollectionList.astro";
import Card from "../../components/Card.astro";
import BookCard from "../../components/BookCard.astro";

let books = await getCollection("books", (book) => book.data.status === "published");
if (books && books.length > 0) {
  books = books.sort(function (first, second) {
    return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
  });
}
---

<Layout title="All books">
  <CollectionList title="Books" description="Books I've read or am reading">
    <section class="mt-4 flex flex-col gap-4">
      {
        books.map((book) => (
          <BookCard
            title={book.data.title}
            rating={book.data.rating ?? 101}
            slug={`/books/${book.slug}`}
          />
        ))
      }
    </section>
  </CollectionList>
</Layout>