---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const projects = (await getCollection("projects")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="Template - All Posts">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Projects</h1>

    <article class="flex flex-col gap-4">
      {
        projects.map((project) => (
         {project}
        ))
      }
    </article>
  </main>
</Layout>