---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CollectionList from "../../layouts/CollectionList.astro";
import ProjectCard from "../../components/ProjectCard.astro";

let projects = await getCollection("projects");
if (projects && projects.length > 0) {
  projects = projects.sort(function (first, second) {
    return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
  });
}
---

<Layout title="All Projects">
  <CollectionList title="Projects" description="All my projects">
    <section class="mt-4 flex flex-col gap-4">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.data.title}
            description={project.data.description}
            slug={`/projects/${project.slug}`}
          />
        ))
      }
    </section>
  </CollectionList>
</Layout>